/* General styling */

body > * {
    display: flex;
}

/* Center Heading Title Text */

.heading {
    justify-content: center;

}

.description {
    justify-content: center;

}

/* Set Filter Option button spacings */

.filter-options {
    justify-content: space-around;
}

.value-inputs {
    justify-content: center;
    gap: 1rem;
}

.calculate-button {
    justify-content: center;
}

.answer {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.equation {
    justify-content: center;
    align-items: center;
}

.equation > img {
    width: 300px;
}

.equation-legend {
    justify-content: center;
    align-items: center;
}

.filter-diagrams {
    justify-content: center;
    align-items: center;
}

.filter-diagrams > img {
    width: 300px;
}

.footer {
    justify-content: center;
    align-items: flex-end;
}