/* Import Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* General styling */

body {
    background-color: #231a1a;
}

body > * {
    display: flex;
}

/* Center Heading & Description title text */

.heading {
    justify-content: center;
    text-align: center;
    font-family: Lato, sans-serif;

}

h1 {
    color: #42BDAA;
    font-family: Lato, sans-serif;
}

h2 {
    color: #42BDAA;
    font-family: Lato, sans-serif;
}

h3 {
    color: white;
    font-family: Lato, sans-serif;
}

.description {
    justify-content: center;
    text-align: center;
}

.description h2 {
    color: white;
}

/* Set Filter Option and Value Inputs spacings */

.filter-options {
    justify-content: space-around;
    flex-wrap: wrap;
}

.filter-options > a {
    padding: 1rem;
    color: white;
    font-size: x-large;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

#lp-active {
    background-color: white;
    color: #226357;
}

#hp-active {
    background-color: white;
    color: #226357;
}


.btn-primary {
    background-color: #226357;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: white;
    color: #226357;
}

.value-inputs {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: #42BDAA;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 1px solid #42BDAA;
    padding: 1rem;
    font-family: Lato, sans-serif;
    font-size: large;
}

.value-inputs > * {
    flex-shrink: 1;
}

.input-direct {
    flex-wrap: nowrap;
    flex-shrink: 1;
}

/* Adjust layout for individual Input Value Pairs */

.input-direct > div {
    display: flex;
}

.input-direct label,
.input-direct input,
.input-direct select {
    width: 50%;
}

.input-direct select {
    width: 200px;
    color: #226357;
    font-weight: bold;
}

.input-direct input {
    width: 191px;
    color: #226357;
    font-weight: bold;
}

.resistance {
    padding: 0.5rem;
}

.capacitance {
    padding: 0.5rem;
}

.frequency {
    padding: 0.5rem;
}

/* Adjust position of Answer and Calculate Button */

.calculate-button {
    justify-content: center;
    font-size: x-large;
    margin-bottom: 00.5rem;
    padding: 1rem;
    border-radius: 5px;
}

.calculate-button > button {
    color: white;
    background-color: #226357;
    border: none;
}

.calculate-button > button:hover {
    color:#226357;
    background-color: white;
    border: #226357; 
}

.answer {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: xx-large;
}

.answer > p {
    color: #43bea9;
    font-family: Lato, sans-serif;
}

/* Set Alert Message styling */

.alert {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: larger;
}

.alert > p {
    color: red;
    font-family: Lato, sans-serif;
}

/* Set Equation and Legend positioning & size */

.equation {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid white;
    padding-top: 1rem;
}

.equation > img {
    min-width: 250px;
}

.equation-legend {
    justify-content:space-around;
    align-items:center;
    font-size: x-large;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    font-family: Lato, sans-serif;
}

.equation-legend > p {
    flex-wrap: nowrap;
    flex-shrink: 1;
    padding: 00.5rem;
    color: #42BDAA;
}

/* Set Filter Diagrams positioning & size */

.filter-diagrams {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.filter-diagrams > img {
    min-width: 250px;
    border-bottom: 1px solid white;
}

.footer {
    justify-content: center;
    align-items: flex-end;
    color: #42BDAA;
}

/* article text styling */

.article-section-header {
    flex-wrap: nowrap;
    flex-shrink: 1;
    padding: 00.5rem;
    color: #42BDAA;
    align-content: center;
    font-family: Lato, sans-serif;
}

.article-section-paragraph {
    flex-wrap: nowrap;
    flex-shrink: 1;
    padding: 00.5rem;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
}

.article-section-list-item {
    flex-wrap: nowrap;
    flex-shrink: 1;
    padding: 00.5rem;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* media queries*/

/* for screen size from 400px wide and down */
@media screen and (max-width: 399.98px) {

    .input-direct > div {
        display: flex;
        flex-direction: column;
    }

    .input-direct label,
    .input-direct input,
    .input-direct select {
    width: 100%;
}

.input-direct input {
    width: 176px;
}

    .input-direct select {
    width: 100%;
}

    .equation-legend {
        display: flex;
        flex-direction: column;
        padding: 0.1rem;
    }

    .equation-legend > p {
        padding: 0.1rem;
        margin: 0.5rem;
        text-align: center;
    }
}

